{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if entry in entries %}
        <form action="{% url 'edit_existing_page' entry_name=entry %}" method="post">
            {% csrf_token %}
            {{ editform }}
            <input type="submit" value="Save"/>
        </form>
    {% else %}
        <h1>
            Error, no entry titled {{entry}} currently exists. Please create a new entry.
        </h1>
    {% endif %}
{% endblock %}